In [1]:
import pandas as pd

In [24]:
data = {"Name": [" Alice ,Smith (CEO)"]} 
df = pd.DataFrame(data)

In [17]:
start = df.loc[0, 'Name'].find("(")
end = df.loc[0, 'Name'].find(")")
df.loc[0, 'Name'][0:start] + df.loc[0, 'Name'][end+1:]

'Alice Smith '

In [21]:
#REPLACE SubStrings with Regex : regular expression 

# * means zero or more
# . match any character

"\(.*\)"

df['Name'].str.replace(r"\(.*\)","HELLO",regex=True).head()

<>:6: SyntaxWarning: "\(" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\("? A raw string is also an option.
<>:6: SyntaxWarning: "\(" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\("? A raw string is also an option.
C:\Users\DHRUVI\AppData\Local\Temp\ipykernel_7944\1806361415.py:6: SyntaxWarning: "\(" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\("? A raw string is also an option.
  "\(.*\)"

0    Alice Smith HELLO
Name: Name, dtype: str

In [22]:
df['Name'].str.replace("\\(.*\\)", "HELLO", regex=True).head()

0    Alice Smith HELLO
Name: Name, dtype: str

Regex pattern: r"\(.*\)"

\( → matches a literal opening parenthesis "(".

.* → matches any characters (zero or more).

\) → matches a literal closing parenthesis ")".

Together, \(.*\) means: “match everything inside parentheses, including the parentheses themselves.”

The r"" prefix makes it a raw string, so Python doesn’t misinterpret the backslashes.

###  SPLIT and ACCESS Elements

In [23]:
df['Name'][0]

'Alice Smith (CEO)'

In [27]:
df['Name'].str.split(",")[0]

[' Alice ', 'Smith (CEO)']

In [30]:
df['Name'].str.split()[0]

['Alice', ',Smith', '(CEO)']

In [31]:
df['Name'].str.split().str[0]

0    Alice
Name: Name, dtype: object

In [32]:
# Strip Spaces

df['Name'].str.strip()

0    Alice ,Smith (CEO)
Name: Name, dtype: str

In [33]:
df['Name'].str.find("Sm")

0    8
Name: Name, dtype: int64

In [35]:
count = df['Name'].str.contains("i").sum()
print("Number of i ",count)

Number of i  1

In [39]:
#pad function 
df['Name'].str.pad(width=30,side='left',fillchar='=' )

0    =========== Alice ,Smith (CEO)
Name: Name, dtype: str

### CATEGORICAL DATA IN PANDAS

Categorical data is textual or labled data that represent discrete categories

In [41]:
class_data ={
    "Name" :["A","B","C","D"],
    "Group":["G1","G2","G3","G4"]
}

class_df = pd.DataFrame(class_data)

In [42]:
class_df

  Name Group
0    A    G1
1    B    G2
2    C    G3
3    D    G4

In [44]:
# G3 > G1 > G2 >G4

class_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      str
 1   Group   4 non-null      str
dtypes: str(2)
memory usage: 196.0 bytes

In [ ]:
pd.Categorical(
    df['Group'],
    categories=['G3','G1','G2','G4'],
    ordered=True
)

['G1', 'G2', 'G3', 'G4']
Categories (4, str): ['G3' < 'G1' < 'G2' < 'G4']

In [65]:
class_df['Group_Cat'] = pd.Categorical(
    df['Group'],
    categories=['G3','G1','G2','G4'], #Custom order  in assending order lower to higher
    ordered=True
)

In [56]:
class_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       4 non-null      str
 1   Group      4 non-null      str
 2   Group_Cat  4 non-null      category
dtypes: category(1), str(2)
memory usage: 404.0 bytes

In [59]:
class_df['Group_Cat'] > "G3"

0     True
1     True
2    False
3     True
Name: Group_Cat, dtype: bool

In [ ]:
df['Group_auto_Cat'] = df["Group"].astype('category')  # automatically generated category

In [61]:
df['Group_auto_Cat'].cat.categories

Index(['G1', 'G2', 'G3', 'G4'], dtype='str')

In [67]:
df['Group_auto_Cat'].cat.codes.head()

0    0
1    1
2    2
3    3
dtype: int8

In [69]:
url = 'train.csv'
df = pd.read_csv(url)

In [71]:
df['Sex'].unique()

<StringArray>
['male', 'female']
Length: 2, dtype: str

In [73]:
df['SEX_auto_Cat'] = df["Sex"].astype('category').cat.codes

In [74]:
df['SEX_auto_Cat'].head()

0    1
1    0
2    0
3    0
4    1
Name: SEX_auto_Cat, dtype: int8

In [79]:
df['SEX_replace_Cat'] = df["Sex"].replace(['female','male'],[0,1])

In [80]:
df['SEX_replace_Cat'] .head()

0    1
1    0
2    0
3    0
4    1
Name: SEX_replace_Cat, dtype: object

In [81]:
df['Sex_Lamda']=df['Sex'].apply(lambda sex : 1 if sex == 'male' else 0)

In [82]:
df['Sex_Lamda'].head()

0    1
1    0
2    0
3    0
4    1
Name: Sex_Lamda, dtype: int64

### DATE Functionality in pandas (IMP)

In [83]:
df = pd.DataFrame({
    'event' :['Concert','Wedding','Engagenemnt'],
    "date":['2026-02-23','2026-03-09','2026-08-04']
})

In [84]:
df

         event        date
0      Concert  2026-02-23
1      Wedding  2026-03-09
2  Engagenemnt  2026-08-04

In [85]:
df['date_pandas'] =pd.to_datetime(df['date'])

In [86]:
df['date_pandas']

0   2026-02-23
1   2026-03-09
2   2026-08-04
Name: date_pandas, dtype: datetime64[us]

In [87]:
df

         event        date date_pandas
0      Concert  2026-02-23  2026-02-23
1      Wedding  2026-03-09  2026-03-09
2  Engagenemnt  2026-08-04  2026-08-04

In [89]:
df['date_pandas'].dt.day

0    23
1     9
2     4
Name: date_pandas, dtype: int32

In [90]:
df['date_pandas'].dt.year

0    2026
1    2026
2    2026
Name: date_pandas, dtype: int32

In [91]:
df['date_pandas'].dt.month

0    2
1    3
2    8
Name: date_pandas, dtype: int32

In [93]:
df['date_pandas'].dt.day_name()

0     Monday
1     Monday
2    Tuesday
Name: date_pandas, dtype: str

In [96]:
df['date_pandas'].dt.weekday

0    0
1    0
2    1
Name: date_pandas, dtype: int32

In [97]:
df['date_pandas'].between('2026-01-01', '2026-04-23')

0     True
1     True
2    False
Name: date_pandas, dtype: bool

In [100]:
pd.date_range(start='2026-02-01',end='2026-02-10',freq='D')

DatetimeIndex(['2026-02-01', '2026-02-02', '2026-02-03', '2026-02-04',
               '2026-02-05', '2026-02-06', '2026-02-07', '2026-02-08',
               '2026-02-09', '2026-02-10'],
              dtype='datetime64[us]', freq='D')

In [ ]:
pd.date_range(start='2026-01-01',end='2026-03-10',freq='ME') #month end =me

DatetimeIndex(['2026-01-31', '2026-02-28'], dtype='datetime64[us]', freq='ME')

In [105]:
pd.date_range(start='2026-01-01',end='2026-03-10',freq='MS') #month start =ms

DatetimeIndex(['2026-01-01', '2026-02-01', '2026-03-01'], dtype='datetime64[us]', freq='MS')

DATE Arthimetic

In [106]:
df['next_week'] =df['date_pandas']+pd.Timedelta(days=7)

In [107]:
df

         event        date date_pandas  next_week
0      Concert  2026-02-23  2026-02-23 2026-03-02
1      Wedding  2026-03-09  2026-03-09 2026-03-16
2  Engagenemnt  2026-08-04  2026-08-04 2026-08-11

In [2]:
#df['days_to_event'] =(df['date_pandas'] + pd.Timestamp.today()).dt.days